@import "../../styles/partials/colours";
@import "../../styles/partials/padding";
@import "../../styles/partials/fonts";

.articles {
  @include padding-before-headline;
  @include padding-side;
  @include component-gap;
  display: flex;
  flex-direction: column;
  align-items: center;
}
