@import "../../styles/partials/colours";
@import "../../styles/partials/padding";
@import "../../styles/partials/fonts";

.forumPost {
  @include margin-top;
  display: flex;
  flex-direction: column;
  background-color: $alamode-lightgreen;
  padding-bottom: 24px;

  &__head {
    @include padding-between-sections;
    @include padding-side;
    padding-bottom: 24px;
    display: flex;
    flex-direction: row;
  }
  &__back {
    width: 20px;
    padding-top: 24px;
  }

  &__title {
    @include section-header-alt;
    width: 100%;
    color: $alamode-darkpink;
    text-align: center;
    padding-right: 4px;
  }

  &__main {
    @include padding-side;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: $alamode-green;
  }
  &__replies {
    @include padding-side;
    @include component-gap;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
  }
}
