$alamode-darkpink: #d0006e;
$alamode-pink: #ef4d96;

$alamode-lightgreen: #d8f3dc;
$alamode-green: #7ad6ae;
$alamode-darkgreen: #065511;

$alamode-yellow: #fefcad;
$alamode-orange: #e76f51;
$alamode-darkorange: #dc2f02;

$alamode-purple: #c580ed;
