@import "./breakpoints";
@import "./colours";

@font-face {
  font-family: antiqueWonders;
  src: url("../../assets/fonts/antique_wonders/antiqueWonders.otf");
}

@font-face {
  font-family: magicRetro;
  src: url("../../assets/fonts/magic_retro/magic_retro.ttf");
}

@font-face {
  font-family: delmonDelicate;
  src: url("../../assets/fonts/delmon_delicate/delmon_delicate.ttf");
}

@font-face {
  font-family: garet;
  src: url("../../assets/fonts/garet/garet-book.ttf");
}

@font-face {
  font-family: romelio;
  src: url("../../assets/fonts/romelio/romelio.ttf");
}

@font-face {
  font-family: nesans;
  src: url("../../assets/fonts/nesans/nesans.ttf");
}

@font-face {
  font-family: coolvetica;
  src: url("../../assets/fonts/coolvetica/coolvetica.otf");
}

@mixin logo {
  font-family: magicRetro;
  font-size: 30px;
  line-height: 36px;
  color: $alamode-orange;

  @include tablet {
    font-size: 33px;
    line-height: 44px;
  }

  @include desktop {
    font-size: 52px;
    line-height: 60px;
  }
}

@mixin page-header {
  font-family: nesans;
  font-size: 38px;
  line-height: 56px;
  color: white;
}

@mixin section-header {
  font-family: nesans;
  font-size: 24px;
  font-weight: 800;
  line-height: 26px;
}

@mixin section-header-alt {
  font-family: coolvetica;
  font-size: 24px;
  font-weight: 800;
  line-height: 26px;
}

@mixin subheader {
  font-family: garet;
  font-size: 18px;
  line-height: 32px;
}

@mixin button {
  font-family: garet;
  font-size: 14px;
  line-height: 32px;
}

@mixin body-small {
  font-family: garet;
  font-size: 12px;
  line-height: 12px;
}
