$padding-side-mobile: 16px;
$padding-before-headline: 80px;
$padding-between-sections: 24px;
$component-gap: 16px;
$margin-page-top: 60px;

@mixin padding-side {
  padding-left: $padding-side-mobile;
  padding-right: $padding-side-mobile;
}

@mixin padding-before-headline {
  padding-top: $padding-before-headline;
}

@mixin padding-between-sections {
  padding-top: $padding-between-sections;
}

@mixin component-gap {
  gap: $component-gap;
}

@mixin margin-top {
  margin-top: $margin-page-top;
}
