@import "./breakpoints";
@import "./fonts";

h1 {
  @include logo;
  margin: 0;
}

h2 {
  @include page-header;
  margin: 0;
}

h3 {
  @include section-header;
  margin: 0;
}

h4 {
  @include button;
  margin: 0;
}
