.home {
  &__hero {
    background: url(../../assets/images/landfill.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
  }
}
