@import "../../styles/partials/colours";
@import "../../styles/partials/padding";

.browse {
  @include padding-side;
  padding-bottom: $padding-between-sections;

  &__header {
    @include padding-between-sections;
    padding-bottom: $padding-between-sections;
    color: $alamode-darkpink;

    &__carousel {
      &-item {
        display: flex;
        flex-direction: column;
        height: 500px;
        gap: 8px;
        padding-bottom: 24px;
      }
      &-image {
        border-radius: 10px;
        height: 60px;
        object-fit: fill;
      }
    }
  }
}
