@import "../../styles/partials/padding";

.newestArticle {
  @include padding-side;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__img {
    width: 100%;
    border-radius: 4px;
  }

  &__heading {
  }
}
