@import "../../styles/partials/colours";
@import "../../styles/partials/padding";

.forum {
  @include margin-top;
  padding-top: 16px;
  background-color: #d8f3dc;
  padding-bottom: 24px;

  &__container {
    @include padding-side;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__header {
    color: $alamode-darkpink;
  }

  &__write {
    height: 38px;
    width: 38px;
    align-self: center;
    margin-right: 2px;
    margin-top: 4px;
  }

  &__cards {
    @include padding-between-sections;
    @include component-gap;
    display: flex;
    flex-direction: column;
  }
}
