@import "../../styles/partials/fonts";
@import "../../styles/partials/colours";
@import "../../styles/partials/padding";

.results {
  @include component-gap;
  @include padding-between-sections;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 24px;
  background-color: $alamode-yellow;

  &__result {
    @include padding-side;

    display: flex;
    flex-direction: column;
    background-color: $alamode-yellow;
    color: $alamode-darkgreen;

    &-container {
      background-color: white;
      border-radius: 5px;
      padding: 18px;
    }
    &-header {
      @include section-header-alt;
      text-decoration: underline;
      text-underline-offset: 4px;
    }

    &-summary {
      padding-top: 16px;
      color: $alamode-darkorange;
    }
  }
}
