@import "./styles/partials/colours";

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 4px;
  //border: solid 1px black;

  &__menu {
    padding-top: 10px;
    background: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    //border-right: 2px solid $alamode-green;
  }
}

.bm {
  &-burger-button {
    position: fixed;
    width: 20px;
    height: 20px;
    top: 24px;
    left: 26px;
    background-color: none;
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;
  }

  &-burger-bars {
    background: $alamode-darkgreen;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 4px;
  }

  &-cross {
    height: 24px;
    width: 24px;
    background: $alamode-darkpink;
    margin-top: 6px;
  }
}
.menu-item {
  padding: 40px;
  color: $alamode-darkgreen;
  &-icon {
    width: 30px;
    height: 30px;
  }
}

.page-wrap {
  overflow: hidden;
}
.bm-menu-wrap {
  position: "fixed";
  height: "100%";
}

.bm-morph-shape {
  fill: "#373a47";
}

.bm-overlay {
  display: none;
}
