@import "./styles/partials/colours";

* {
  box-sizing: border-box;
}

.body {
}

.App {
  display: flex;
  flex-direction: column;
  align-content: center;
  border: solid 1px black;
}

.bm {
  &-burger-button {
    position: fixed;
    width: 25px;
    height: 25px;
    top: 25px;
    left: 24px;
    background-color: none;
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;
  }

  &-burger-bars {
    background: $alamode-darkgreen;
    padding-left: 2px;
    padding-right: 2px;
  }
}
.menu-item {
  padding: 5px;
  color: white;
}

.page-wrap {
  overflow: hidden;
}
